.aider*
crew_ai
email_sender_2.py
venv/
mydatabase
.env
*.json
!**/package.json
!**config.json
!**/config/*.json
*.jsonl
node_modules/
dist/
build/
*.bak
*.dat
*.dir
.DS_Store
*.jir
.jaccache/
.jac

# Large binary files
*.mp4
*.mov
*.gif
*.faiss
*.pkl
faiss_index/

# Audio files
*.mp3
*.wav
*.ogg
*.flac
*.aac
*.m4a